* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Abril Fatface;
}

h2 {
    font-family: Bahnschrift;
}

.logo {
    margin: 20px 0px;
}

.navbar {
    display: block;
    margin: 2% 0%;
}

.navbar ul {
    text-align: center;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.1rem;

}

.nav-icons {
    margin: 8% 0%;
}

.nav-icons img {
    margin: 12px 10px;
}

.nav-icons a .certIcon {
    width: 14%;
}

.main-banner {
    background-image: url(./images/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 800px; */
    padding-top: 14%;
    color: #fff;
}

.z_-1 {
    z-index: -1;
}

.main-banner h1 {
    font-size: 4rem;
}

.second-banner {
    padding: 5% 0%;
    margin: 5% 0%;
}

.secHead h1 {
    font-size: 3.5rem;
    margin-bottom: 5%;
}

.third-banner {
    margin: 5% 0%;
}

.experience h1 {
    margin-top: 8%;
    font-size: 3rem;
}

.card {
    border: none;
    margin-top: 40%;
}

.card h1 {
    font-size: 3rem;
    color: #234f4b;
}

.card h5 {
    font-size: 1.5rem;
}

.Btn h5 {
    margin-top: 50%;
    padding: 10%;
    background: #234f4b;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

.forth-banner {
    margin: 5% 0%;
}

.card2 {
    margin: 5% 0%;
}

.batch h2 {
    margin: auto;
    margin-top: 5.8%;

}

.num {
    color: #fff;
    background: #234f4b;
    border-radius: 50px;
    padding: 20% 5%;
    text-align: center;
}

.num h2 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.CustomersSaying h1 {
    font-size: 3rem;
    margin-bottom: 10%;
}

.navarraw {
    align-items: right;
    margin: 30% 0%;
}

.navarraw img {
    margin: 0% 15%;
    float: right;
}

.reviews {
    padding: 7% 10%;
    background-color: #234f4b;
    color: #fff;
}

.reviews img {
    width: 64px;
}

.reviews h1 {
    margin: 5% 0%;
}

.reviews p {
    font-weight: 100;
    margin-bottom: 5%;
}

.testimonial img {
    border-radius: 50px;
}

.testimonial h1 {
    font-size: 1rem;
    margin-top: 10%;
    margin-bottom: 0%;
}

.testimonial p {
    margin-top: 0%;
    font-size: 0.75rem;
    font-weight: 300;
}

.t {
    padding: 0%;
}

.sixth-banner {
    margin: 5% 0%;
}

.subscribe {
    text-align: center;
}

.subHeading {
    padding: 10%;
}

.subscribe h1 {
    font-size: 3rem;

}

.subscribe p {
    margin: 5% 0% 10% 0%;
}

.subHeading h4 {
    font-size: 1.25rem;
    margin: 0%;
    color: #234f4b;
}

.subBtn {
    text-align: center;
    background-color: #234f4b;
    color: #fff;
    padding: 10%;
}

.subBtn h4 {
    font-size: 1rem;
    margin: 0%;

}

.form {
    background: #fff;
    padding: 3%;
}

.form input {
    padding: 2% 3%;
    border: none;
    width: 70%;
    font-size: 1.75rem;
    font-weight: 600;
    color: #234f4b;
    outline: none;
}

.form button {
    padding: 2% 5%;
    border: none;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    background-color: #234f4b;
}

.footer {
    padding: 5%;
    background-color: #234f4b;
    color: #fff;
    padding-top: 10%;
}

.info h6 {
    display: inline-block;
    font-weight: 300;
    margin: 5% 0%;
}

.abc h6 {
    font-weight: 300;
}


/* css use only in products page */
.products .row {
    margin: 5% 0%;
}

.heading {
    margin: 3% 0%;
    font-size: 3rem;
}

.product {
    cursor: pointer;
}

.img {

    border: 0.5px solid rgb(199, 199, 199);
}

.img img {
    width: 100%;
}

.product h4 {
    margin: 5% 2%;
}

.shopNow {
    text-align: right;
    font-size: 1.5rem;

}

.price {
    color: red;
    font-size: 1.5rem;
    font-family: Abril Fatface;

}

.nav {
    margin: 20%;
    display: block;
}

.active>.page-link,
.page-link.active {
    background-color: #234f4b;
    border-color: #234f4b;
}

.page-link {
    color: #000;
    background: rgb(222, 222, 222);
}

.Previous {
    background: red;
    color: #fff;

}

.page-item {

    margin: 0% 1.5%;
    border-radius: none;
}

.next {
    background: #234f4b;
    color: #fff;
}

.Section {
    padding: 5%;
    box-shadow: 0px 0px 5px gray;
    margin: 05% 0%;
}

.Section h3 {
    margin: 5% 0%;
}

/* account page work  */

.LogIn input {
    width: 100%;
    padding: 2% 3%;
    font-size: 1.2rem;
    margin: 2% 0%;
    outline-color: rgb(213, 213, 213);
    color: gray;
    border: 1px solid rgb(194, 194, 194);

}

.LogIn span {
    font-size: 0.75rem;
}

.LogIn button {
    width: 100%;
    padding: 1% 0%;
    font-size: 1.1rem;
    margin: 2% 0%;
    border: 1px solid #000;
    background: #234f4b;
    color: #fff;

}

span .rememberMe {
    width: 5%;
}

.agree {
    font-size: 0.75rem;
}

.agree span {
    color: red;
    font-weight: 700;
}

.register input {
    padding: 2% 3%;
    font-size: 1.2rem;
    margin: 2% 0%;
    outline-color: rgb(213, 213, 213);
    color: gray;
    border: 1px solid rgb(194, 194, 194);
}

::placeholder {
    color: rgb(194, 194, 194);
}

.W50 {
    width: 49.25%;
}

.W100 {
    width: 100%;
}

.register button {
    width: 100%;
    padding: 1% 0%;
    font-size: 1.1rem;
    margin: 2% 0%;
    border: 1px solid #000;
    background: #234f4b;
    color: #fff;
}

.green {
    color: #234f4b;
    font-size: 0.75rem;
    font-weight: 700;
}

/* about us page css */
.AboutUs {
    margin: 5% 0%;
}

.sideImg img {
    width: 100%;
}

.OurQuality {
    background: #000;
    padding: 5% 0%;
}

.OurQualitycard {
    color: #fff;
    text-align: center;
}

.OurQualitycard h1 {
    font-size: 5rem;
}

.OurQualitycard h2 {
    font-weight: 50;
}

.features {
    margin: 5% 0%;
}

.features .container {
    background: rgb(237, 236, 236);

}

.features .container .row .col-md-4 {
    padding: 0% 0%;
}

.cardtext {
    text-align: center;
    padding: 12% 10%;
}

.coverImg img {
    width: 100%;
}

.sideText h3 {
    font-size: 2rem;
}

.sideText h2 {
    font-size: 3rem;
}


.sideText p {
    font-size: 1rem;
}

.bottomText p {
    margin: 3% 0%;
}

.OurTestimonials {
    text-align: center;
    background: #f6f6f7;
}

.Testimonial {
    padding: 10%;
}

.Testimonial h3 {
    color: red;
    font-size: 2rem;
    font-weight: 700;
}

.Testimonial h1 {
    font-size: 3rem;
}

.Testimonial p {
    font-size: 1.25rem;
    margin: 4% 0% 0% 0%;
}

/* contact page work */
.contactCard {
    text-align: center;
    /* color: #fff; */
    /* background: #000; */
    border: 1px solid #234f4b;
}

.contactCard .img img {
    width: 10%;
}

.contactCard .img {
    background: #234f4b;
    border: 1px solid #234f4b;
    padding: 5% 0%;
}

.contactCard h5 {
    margin: 5% 0% 1% 0%;
}

.contactCard p {
    font-size: 1.25rem;
    margin: 0%;
    margin: 1% 0%;
}

.nextRaw {
    margin-top: 5%;
}

.sectionNoBorder {
    box-shadow: none;
}

.Contact .container .row .col-md-6 .Section {
    margin: 0% 0% 10% 0%;
}

.map img {
    width: 100%;

}

/* cert page work */
.certItems {
    margin: 5% 0%;
}

.items {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    padding: 1%;
    /* background: #000; */
    /* color: #fff; */
}

.items th {
    background: #000;
    color: #fff;
    font-size: 1.2rem;
}

.itemDetails {
    font-size: 1.5rem;
    /* text-align: center; */
    margin: 0% 5%;
}

.itemImg {
    border: 1px solid rgb(197, 197, 197);
    padding: 15% 0%;
}

.items .itemImg img {
    width: 50%;
    display: block;
    margin: auto;
    /* padding: 20%; */
}

.ItemQuentity input {
    width: 100%;
    margin-top: 15%;
}

.sum {
    padding: 5% 1%;
    text-align: center;
    border: 1px solid gray;

}

.sum h3 {
    color: red;
}

.courier {
    padding: 10% 10%;
    /* text-align: center; */
    border: 1px solid gray;
    margin-top: 10%;

}

.sum h5 {
    margin: 15% 0%;
}

.tableHeading {
    background: #000;
    color: #fff;
    padding: 2%;
}

.item {
    padding: 2%;
    border-bottom: 1px solid rgb(183, 181, 181);
}

.ItemPrice h4 {
    margin-top: 13%;
}

.cancel {
    border: 1px solid rgb(197, 197, 197);
    margin-top: 30%;
}

.cancel span {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 2%;

}

.exploreMore {
    margin: 5% 0%;
}

.exploreMore a {
    text-decoration: none;
}

.exploreMore h4 {
    color: #fff;
    background: #234f4b;
    text-align: center;
    padding: 2% 0%;
    font-weight: 300;
}




/* checkOut page work */
.checkOut {
    margin: 5% 0%;
}

.CheckOutItem {
    margin-top: 5%;
}

.CheckOutItem .col-lg-12 {
    padding: 0%;
}

.CheckOutItemHeading {
    margin: 0%;
    background: #000;
    color: #fff;
    padding: 1% 1%;
}

.CheckOutItemHeading h2 {
    margin: 0%;

}

.CheckOut_items {
    margin: 2% 0%;

}

.CheckOut_items label {
    margin-top: 4%;
    font-size: 1.15rem;
}

.CheckOut_items input {
    width: 100%;
    padding: 1.5%;
    outline-color: rgb(190, 190, 190);
    border: 1px solid rgb(190, 190, 190);
}

.ordered_list {
    border: 1px solid rgb(190, 190, 190);
}

.ordered_list {
    margin: 6% 0%;
}

.ordered_item {
    width: 100%;
    border-bottom: 1px solid rgb(190, 190, 190);
    color: gray;
    padding: 5% 10%;
}

.ordered_items h3 {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10% 10%;

}

.alignItemRight {
    float: right;
}

.paymentMethod .payment {
    padding: 2% 5%;
}

.placeOrder {
    background: #234f4b;
    text-align: center;
    padding: 2%;
    color: #fff;
    width: 70%;
    margin: 5% auto;

}

.placeOrder h5 {
    margin: 0%;
}


/* terms and policy page */
.terms_and_policy {
    margin: 5% 0%;
}

.policy {
    margin: 3% 0%;
}

/* Product Details page */

.product_details {
    margin: 5% 0%;
}

.product_details .row {
    margin: 5% 0%;
}

.productImg {
    border: 1px solid rgb(214, 214, 214);
}

.subImg {
    margin: 0% 0% 5% 0%;
    padding: 5%;
}

.mainImg {
    padding: 14% 0%;
}

.productImg img {
    width: 100%;
}

.details {
    margin: 10%;
}

.details span {
    padding: 1% 2%;

    border: 1px solid rgb(214, 214, 214);
}

.details button {
    padding: 1% 0%;
    width: 70%;
    background: #234f4b;
}
.details button a{
    color: #fff;
    text-decoration: none;

}

.details p {
    margin: 5% 0%;
}

.details h3 {
    margin: 5% 0%;
}

.details h4,
h5 {
    display: inline-block;
    margin-right: 2%;
}

.socialIcon img {
    width: 5%;
    margin: 3% 2% 3% 0%;
}

.relatedProducts h1 {
    text-align: center;

}

.relatedProducts hr {
    width: 15%;
    margin: auto;
    border: 2px solid #234f4b;
    color: #234f4b;
    background: #234f4b;
}

.relatedProducts p {
    text-align: center;
    margin: 2% auto;
    width: 60%;

}
/* cert2 work */

table{
    /* border: none !important; */
    /* border-style: none; */
    border: 0px;
}
tr th{
    background: #000;
    color: #fff;
    padding: 0% 2%;
}
td div img{
    width: 20%;
    padding: 2%;
    /* border: 1px solid gray; */
    
}
.itemName{
    display: inline-block;
    /* margin: 5% 0%; */
}
.itemName h2{
    /* margin: 10% 0%; */
}
.cert .item{
    /* padding: 2% 0%; */
    width: 55%;
}
.cert .Quality{
    font-size: 1rem;
    text-align: center;
    width: 15%;
}
.cert .UnitPrice{
    
    font-size: 1rem;
    width: 15%;
    text-align: center;
}
.cert .SubPrice{
    font-size: 1rem;
    width: 15%;
    text-align: center;
}
.cert .Quality{
    color: gray;
}
.cert .Quality span{
    /* width: 100%;*/
    display:block;

}
.border{
    border: 1px solid rgb(181, 180, 180);
}

.cert .UnitPrice{
    /* color: gray; */
}

.cert .SubPrice{
    /* color: gray; */
}
.cert .SubPrice span{
    /* width: 100%;*/
    display:block;

}